:root {
  --ta-spacing-1: 4px;
  --ta-spacing-2: 8px;
  --ta-spacing-3: 12px;
  --ta-spacing-4: 16px;
  --ta-spacing-5: 20px;
  --ta-spacing-6: 24px;
  --ta-spacing-7: 32px;
  --ta-spacing-8: 40px;

  --ta-button-shadow:#090909; 
  
  --ta-header-background:#ff5602; 

  --ta-button-border:#00000020; 
}
